<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>changePassword</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>
<div style="width:30%;margin:150px auto;">
	<form action="updatePassword" class="layui-form layui-form-pane" method="post">  
	<div class="layui-form-item">
		<input name="user_id" type="hidden" th:value="${user.user_id}"/>
        <label class="layui-form-label layui-bg-gray" >账&nbsp;&nbsp;户:</label>
        <div class="layui-input-inline">
        	<label class="layui-form-label" style="text-align:left;width:190px" th:text="${user.user_account}"></label>
        </div>
     </div>
     <div class="layui-form-item">
        <label class="layui-form-label layui-bg-gray">密&nbsp;&nbsp;码:</label>
        <div class="layui-input-inline">
            <input id="user_password" name="user_password"  autocomplete="off" class="layui-input" type="password"/>
        </div>
     </div>
     <div class="layui-form-item">
        <div class="layui-input-block">
           <button  class="layui-btn" type="submit">提交</button>
           <a class="layui-btn layui-btn-primary"  th:href="@{/hello}" target="frame">取消</a>
        </div>
     </div>
     </form>
</div>
</body>
</html>