<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <title>体育馆管理系统</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">体育馆管理系统</div>
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a th:href="@{/hello}" target="frame">简介</a></li>
      <li class="layui-nav-item"><a th:href="@{/personalCenter(user_name=${session.user_name})}" target="frame">个人中心</a></li>
      <li class="layui-nav-item"><a href="">公告</a></li>
      <!-- <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li> -->
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a th:href="@{/personalCenter(user_name=${session.user_name})}" target="frame" th:text="|Hello  ${session.user_name}!|">        
        </a>
        <dl class="layui-nav-child">
          <dd><a th:href="@{/changePassword}" target="frame">修改密码</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a th:href="@{/logout}">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">用户管理</a>
          <dl class="layui-nav-child"  th:if="${session.role_id==2}">
            <dd><a th:href="@{/userManage}" target="frame">用户列表</a></dd>
            <dd><a th:href="@{/roleManage}" target="frame">用户角色</a></dd>
            <dd><a th:href="@{/permissionManage}" target="frame">角色权限</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">赛事管理</a>
          <dl class="layui-nav-child" th:if="${session.role_id}==3">
            <dd><a href="javascript:;">赛事审核</a></dd>
            <dd><a href="javascript:;">赛事记录</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
        	<a href="javascript:;">器材管理</a>
        	<dl class="layui-nav-child" th:if="${session.role_id}==4">
            <dd><a href="javascript:;">xxx</a></dd>
            <dd><a href="javascript:;">xxx</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
        	<a href="javascript:;">场地管理</a>
        	<dl class="layui-nav-child" th:if="${session.role_id}==5">
            <dd><a href="javascript:;">xxx</a></dd>
            <dd><a href="javascript:;">xxx</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <iframe id="frame" name="frame" style="width:100%; height:99%"  src="hello"></iframe>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © GDOU Gym Management System
  </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
});
</script>
</body>
</html>