<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>userManage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>   
<div style="width:70%;margin:50px auto;">
    <!-- <table align='center' border='1' cellspacing='0'> -->
    <table class="layui-table" lay-size="lg"  lay-even="nob" lay-skin="line">
	  <thead>
        <tr>
            <th>序号</th>
            <th>账号</th>
            <th>用户名</th>
            <th>手机</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
      </thead>
        <tr th:each="user : ${page.list}">
	        <td th:text="${user.user_id}"></td>
	        <td th:text="${user.user_account}"></td>
	        <td th:text="${user.user_name}"></td>
	        <td th:text="${user.phone}"></td>
	        <td><a th:href="@{/editUser(user_id=${user.user_id})}" class="layui-btn layui-btn-sm layui-btn-normal">编辑</a></td>
            <td>
	            <a th:if="not ${user.isdel}" th:href="@{/deleteUserById(user_id=${user.user_id})}" class="layui-btn layui-btn-sm layui-btn-danger">删除</a>
	            <a th:if="${user.isdel}" th:href="@{/recoverUserById(user_id=${user.user_id})}" class="layui-btn layui-btn-sm layui-btn-warm">恢复</a>
            </td>
    	</tr>    
    </table>
    <br/>
    <div style="text-align: center"> 
            <a th:href="@{/userManage(start=0)}" class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-prev"></i></a>
            <a th:href="@{/userManage(start=${page.pageNum-1})}" class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-left"></i></a>
            <a th:href="@{/userManage(start=${page.pageNum+1})}" class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-right"></i></a>
            <a th:href="@{/userManage(start=${page.lastPage})}" class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon layui-icon-next"></i></a>
    </div>
</div>

</body>
</html>